<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form id="createForm">
            <input type="text" id="description" name="description"/>
            <input type="Submit" value="Create"/>
        </form>
    </div>
    <hr>
    <div>
        <form id="deleteForm">
            <input type="text" id="todo_id" name="id"/>
            <input type="Submit" value="Delete"/>
        </form>
    </div>
    <hr>
    <div>
        <form id = "updateForm">
            <label for="update_id">id</label>
            <div>
                <input type="text" id="update_id" name="update_id"/>
            </div>
            <label for="update_description">new description</label>
            <div>
                <input type="text" id="update_description" name="update_description"/>
                <input type="Submit" value="Update"/>
            </div>
        </form>
    </div>

    <ul id="list">
        {%for d in data%}
            <li id="todo:{{d.id}}">{{d.id}}: {{d.description}}</li>
        {%endfor%}
    </ul>


    <script>
        document.getElementById('createForm').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todo/create', {
                method: 'POST',
                body: JSON.stringify({'description': document.getElementById('description').value}),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                const liItem = document.createElement('LI');
                liItem.innerHTML = `${jsonResponse['id']}: ${jsonResponse['description']}`;
                document.getElementById('list').appendChild(liItem);
            })
            .catch(function(jsonResponse) {
                console.log("SOMETHING WENT WRONG!");
            })
        }
        document.getElementById('deleteForm').onsubmit = function(e) {
            e.preventDefault();
            let id_to_delete = document.getElementById("todo_id").value;
            fetch(`/todo/delete/${id_to_delete}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(function(response)
            {
                return response.json();
            })
            .then(function(jsonResponse)
            {
                console.log(jsonResponse);
                let id_to_delete = document.getElementById("todo_id").value;
                window.location.reload();
                document.getElementById(`todo:${id_to_delete}`).remove()
            })
            .catch(function(jsonResponse){
                console.log("SOMETHING WENT WRONG!");
            });
        }
        document.getElementById('updateForm').onsubmit = function(e) {
            e.preventDefault();
            let id_to_update = document.getElementById('update_id').value;
            let new_description = document.getElementById("update_description").value;
            fetch("/todo/update", {
                method: 'PATCH',
                body: JSON.stringify({"id": id_to_update, "description": new_description}),
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(function(response)
            {
                return response.json();
            })
            .then(function(jsonResponse){
                console.log(jsonResponse);
                let id_to_update = document.getElementById('update_id').value;
                let new_description = document.getElementById("update_description").value;
                window.location.reload();
                document.getElementById(`todo:${id_to_update}`).innerHTML = new_description;
            })
        }
    </script>
</body>
</html>
